body {
  background-color: gray;
}

img {
  width: 100%;
  height: 150px;
}

p {
  margin: 25px;
  width: 100%;
  word-wrap: break-word;
}

header {
  width: 100%;
}

h1#Bridger {
  width: 100%;
  background-color: transparent;
  color: black;
  font-size: 45px;
  margin-top: 0px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

li {
  margin: 10px;
  list-style-type: none;
}

a {
}

nav a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

a.nav-link {
  font-size: 30px;
}

.header-container {
  width: 100%;
  position: relative;
  text-align: center;
  color: black;
}

.section {
  max-height: fit-content;
  display: flex;
  margin-top: 20px;
}

.section-title {
  width: fit-content;
}

#portfolio {
  margin: 25px;
  margin-left: 10%;
}

.projects-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.projects-container:first-child {
  flex-basis: 100%;
  height: 400px;
}

.project-items {
  width: 50%;
}

h3,
#About,
#middle,
#Contact {
  border-right: solid black 5px;
  padding: 5px;
  font-size: 45px;
  width: 250px;
  text-align: right;
}

#topimage {
  height: 350px;
  width: 100%;
  border: solid black 5px;
}

div.bottom-right {
  font-size: 45px;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.bottom {
  margin: 25px;
}

.underimages {
  border: solid black 5px;
}
